<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Install" });
    });
  </script>
<% end %>

<% destroy_link = '<svg class="polaris-icon__svg" viewBox="0 0 20 20"><path d="M16 6H4a1 1 0 1 0 0 2h1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1a1 1 0 1 0 0-2zM9 4a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2H9zm2 12h2V8h-2v8zm-4 0h2V8H7v8z" fill-rule="evenodd"></path></svg><span class="sr-only">Destroy</span>' %>

<main class="container-fluid">
  <header class="page-header">
    <div class="page-header__content">
      <h1 class="display-2">Theme Installations</h1>
    </div>
  </header>

  <% if flash[:success] %>
    <div class="banner banner--success" tabindex="0" role="status">
      <div class="banner__ribbon">
        <span class="polaris-icon polaris-icon__has-backdrop">
          <svg class="polaris-icon__svg" viewBox="0 0 20 20">
            <g fill-rule="evenodd">
              <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
              <path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path>
            </g>
          </svg>
        </span>
      </div>
      <div>
        <% if flash[:success]['title'] %>
          <h3><%= flash[:success]['title'] %></h3>
        <% end %>
        <% if flash[:success]['body'] %>
          <p><%= flash[:success]['body'] %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Shop ID</th>
            <th scope="col" class="sort"><%= sort_link "theme_id", "Theme ID" %></th>
            <th scope="col" class="sort"><%= sort_link "theme_name", "Theme Name" %></th>
            <th scope="col" class="sort"><%= sort_link "created_at", "Added On" %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @theme_installations.each do |theme_installation| %>
            <tr>
              <td><%= theme_installation.shop_id %></td>
              <td><%= theme_installation.theme_id %></td>
              <td><%= theme_installation.theme_name %></td>
              <td><%= theme_installation.created_at %></td>
              <td><%= link_to raw(destroy_link), theme_installation, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-link btn-icon" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<br>

<%= link_to 'New Theme Installation', new_theme_installation_path %>
