<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Install" });
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Theme Installations</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Theme</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @theme_installations.each do |theme_installation| %>
      <tr>
        <td><%= theme_installation.shop_id %></td>
        <td><%= theme_installation.theme_id %></td>
        <td><%= link_to 'Destroy', theme_installation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme Installation', new_theme_installation_path %>
