<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Theme Installation" });
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @theme_installation.shop_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @theme_installation.theme_id %>
</p>

<%= link_to 'Edit', edit_theme_installation_path(@theme_installation) %> |
<%= link_to 'Back', theme_installations_path %>
