<%= form_with(model: theme_install, local: true) do |form| %>
  <% if theme_install.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme_install.errors.count, "error") %> prohibited this theme_install from being saved:</h2>

      <ul>
      <% theme_install.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <strong>Themes</strong>
    <ul>
    <% @shop_themes.each do |theme| %>
      <li>
        <label for="<%= theme.id %>">
          <%= form.radio_button :theme_id, theme.id, theme.role == "main" ? true : false %>
  
          <span><%= theme.name %><%= " (Current Theme)" if theme.role == "main" %></span>
        </label>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
