<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Install" });
    });
  </script>
<% end %>

<h2>Themes</h2>

<ul>
  <% @themes.each do |theme| %>
    <li>
      Theme Name: <%= theme.name %>
      <%= " (Current Theme)" if theme.role == "main" %>
    </li>
  <% end %>
</ul>

<%= form_for( '/install/create', method: "post", remote: true) do |f| %>

  <strong>Select a theme</strong>
  <% @themes.each do |theme| %>
    <label for="<%= "theme_id_#{theme.id}" %>">
      <%= radio_button_tag 'theme[theme_id]', theme.id, theme.role == "main" ? true : false, id: "theme_id_#{theme.id}" %>

      <span><%= theme.name %><%= " (Current Theme)" if theme.role == "main" %></span>
    </label>
  <% end %>

  <%= f.submit "Install", :class=>"button" %>
<% end %>